@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}



.container {
  max-width: 90% !important;
  margin: auto;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

/* Style for code blocks */
pre.code-block {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 1rem;
  line-height: 1.5;
}

/* Style for inline code */
code.inline-code {
  background-color: #f5f5f5;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.9rem;
  color: #d14;
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.gradient-text {
  background: linear-gradient(to right, #D46778 , #B26DA9, #5780EA, #8f40ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #1f2937;
  cursor: pointer;
  padding: 10px 30px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.text-black {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}